{% extends 'base.html' %}
{% load tests_filters %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row-fluid"><b>Логин:</b> {{ user.username }}</div>
            {% if patient.patronymic %}
                <div class="row-fluid"><b>Имя:</b> {{ user.last_name }} {{ user.first_name }} {{ patient.patronymic }}
                </div>
            {% else %}
                <div class="row-fluid"><b>Имя:</b> {{ user.last_name }} {{ user.first_name }}</div>
            {% endif %}
            {% if user|is_patient %}
                {% if patient.gender == 'F' %}
                    <div class="row-fluid"><b>Пол:</b> Женский</div>
                {% else %}
                    <div class="row-fluid"><b>Пол:</b> Мужской</div>
                {% endif %}
                <div class="row-fluid"><b>Возраст:</b> {{ patient.age }}</div>
                <div class="row-fluid"><b>Врач:</b> {{ patient.doctor.first_name }} {{ patient.doctor.last_name }}
                    ({{ patient.doctor.email }})
                </div>
                </div>

                <p></p>

                <div class="container" align="center"><b>Результаты тестирований:</b></div>

                <p></p>

                <div class="container-fluid" align="center">
                    {% if patient.get_patient_tests %}
                        {% for result in patient.get_patient_tests %}
                            {% if result.question_responses %}
                                <div class="row-fluid"><b>Тестирование: </b>{{ result.questionnaire.name }}</div>
                                <div class="row-fluid"><b>Суммарный балл: </b>{{ result.points }}</div>
                                <div class="row-fluid"><b>Дата: </b>{{ result.timestamp }}</div>
                                <p></p>
                                {% for q in result.question_responses.all %}
                                    {% if q.response_option.question.text %}
                                        <div class="row-fluid"><b> Вопрос {{ q.response_option.question.text }}</b>
                                        </div>
                                    {% else %}
                                        <div class="row-fluid"><b>Вопрос №{{ q.response_option.question.number }}</b>
                                        </div>
                                    {% endif %}
                                    <div class="row-fluid"><b>Ответ:</b> {{ q.response_option.text }}</div>
                                {% endfor %}
                            {% endif %}
                            <p></p>
                        {% endfor %}
                        </div>
                    {% else %}
                        Пациент пока не прошёл ни один тест.
                    {% endif %}
            {% endif %}
    </div>
{% endblock %}