<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>{% block title %} Прохождение тестов {% endblock %}</title>
</head>
<body>
<ul class="nav nav-tabs">
    {% if user.is_authenticated %}
        {% if is_patient %}
            <li><a href="{% url 'my_profile' %}">Профиль</a></li>
            <li><a href="{% url 'tests' %}">Тесты</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'patients' %}">Пациенты</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% endif %}
    {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li>
    {% endif %}
</ul>

{% block content %}
{% endblock %}
</body>
</html>