<!DOCTYPE html>
{% load static %}
{% load tests_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-utilities.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-grid.css" %}"/>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <title>{% block title %} Прохождение тестов {% endblock %}</title>
</head>
<body>
<ul class="nav nav-pills">
    {% if user.is_authenticated %}
        {% if request.user|is_patient %}
            <li><a href="{% url 'my_profile' %}" class="brand">Профиль</a></li>
            <li><a href="{% url 'tests' %}" class="brand">Тесты</a></li>
            <li><a href="{% url 'logout' %}" class="brand">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'my_profile' %}" class="brand">Профиль</a></li>
            <li><a href="{% url 'all_patients' %}" class="brand">Все пациенты </a></li>
            <li><a href="{% url 'patients' %}" class="brand">Мои пациенты </a></li>
            <li><a href="{% url 'prescribe_test' %}" class="brand">Назначить тестирование</a> </li>
            <li><a href="{% url 'logout' %}" class="brand"> Выйти </a></li>
        {% endif %}
    {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li>
    {% endif %}
</ul>

{% block content %}
{% endblock %}
</body>
</html>