<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ questionnaire.name }}</title>
</head>
<body>
        <b>{{ questionnaire.name }}</b>
        <p>{{ questionnaire.description }}</p>
        {% for question in questions %}
            {{ question.number }}
            {% if question.text %}
                {{ question.text }}
            {% endif %}
            <form>
            {% for response_option in question.get_response_options %}
                <input type="radio" id="{{ response_option.id }}" value="{{ response_option.text }}"
                       name="{{ question.number }}">
                <label for="{{ response_option.id }}">{{ response_option.text }}</label><br>
            {% endfor %}
            </form>
        {% endfor %}
</body>
</html>