<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.first_name }} {{ user.last_name }}</title>
</head>
<body>
        <p><b>Логин: {{ user.username }}</b></p>
        <p><b>Имя: {{ user.first_name }} {{ user.last_name }}</b></p>
        {% if patient.gender == 'F' %}
            <p><b>Пол: Женский</b></p>
        {% else %}
            <p><b>Пол: Мужской</b></p>
        {% endif %}
        <p><b>Возраст: {{ patient.age }}</b></p>
        <p><b>Врач: {{ patient.doctor.first_name }} {{ patient.doctor.last_name }} ({{ patient.doctor.email }})</b></p>

        {% for result in patient.get_patient_tests %}
            {% if result. %}
            <p><b>{{ result.questionnaire.name }}</b></p>
            <p><b>{{ result.points }}</b></p>
        {% endfor %}

</body>
</html>