{% extends 'base.html' %}
{% block title %} Список доступных тестов {% endblock %}
{% block content %}
    {% if tests %}
    {% for test in tests %}
        <div class="container">
            <p><b>{{ test.name }}</b>: {{ test.description }}</p>
            {% if patient %}
                <p><a href="{% url 'show_test' test_id=test.id %}">Пройти тестирование</a></p>
            {% endif %}
        </div>
    {% endfor %}
    {% else %}
        <div class="container">
        Вам пока не назначено ни одного тестирования.
        </div>
    {% endif %}
{% endblock %}