{% extends 'base.html' %}
{% block title %}{{ questionnaire.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid" align="center"><b>{{ questionnaire.name }}</b></div>
        <div class="row-fluid" align="center">{{ questionnaire.description }}</div>
    </div>
    <p></p>
    <div class="container">
        <form id="{{ questionnaire.id }}" method="POST" action="{% url 'pass_test' test_id=questionnaire.id %}"
              class="form-horizontal" align="center">
            {% csrf_token %}
            {% for question in questions %}
                <p><b>Вопрос №{{ question.number }}.</b></p>
                {% if question.text %}
                    <p>{{ question.text }}</p>
                {% endif %}
                <fieldset id="{{ question.id }}">
                    {% for response_option in question.get_response_options %}
                        <div class="form-check">
                            <label
                                    for="{{ response_option.id }}"
                                    class="form-check-label">
                                <input type="radio" id="{{ response_option.id }}"
                                       value="{{ response_option.text }}"
                                       name="{{ question.number }}[]"
                                       class="form-check-input"> {{ response_option.text }}
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <p><input type="submit" id="submit" class="btn"></p>
        </form>
    </div>
{% endblock %}